

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}



::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}



fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}



textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


@font-face {
    font-family: "cloisterBlack";
    src:url("CloisterBlack.ttf");
}

.cloisterBlack {
    font-family: "cloisterBlack", Arial, Helvetica, sans-serif;
}

.jumbotron{
    background-image: url(../img/bookheader.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#blocLayer {
    position: fixed;
    top:45%;
    width: 100%;
    height: 100vh;
    margin: auto;
    z-index: 2000;
  }

.layer {
    background-color: #dee2e6;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 1;
    width: 20%;
    margin: auto;
  }

footer{
    background-color: grey;
}
  
@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}





.hidden {
    display: none !important;
}



.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


.invisible {
    visibility: hidden;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


@media only screen and (min-width: 35em) {
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
}


@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; 
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
